@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}
.stats-container{
    display: flex;
    align-items: flex-start;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

.navbar ul {
    display: flex;
    z-index: 1000;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }

.navbar ul li {
    margin: 10px;
}
  
.navbar ul li a {
    text-decoration: none;
    color: inherit;
}
  
.navbar ul li a:hover {
    color: rgb(38, 0, 255);
}

/* Default dark mode style */
.dark-mode {
    background-color: #024a89 ;
}
  
.dark-mode h1,
.dark-mode h2, 
.dark-mode h3 {
     color: rgb(0, 0, 0);
}
.dark-mode p{
    color: rgb(0, 0, 0);
}
  
#theme-button {
    background-color: #8a8888;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
#theme-button:hover {
    background-color: #000000;
}
.dark-mode .header {
    background-color: #013b6d;
    box-shadow: 0 0 20px cyan;
}



.navbar {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    padding: 10px;
    margin-bottom: 10px;
}